<!DOCTYPE html>

<div class="title-step-row">
  <p class="titolo">Carica Immobile</p>

  <div class="step-indicator">
    <div class="step-circle">1</div>
    <div class="step-line"></div>
    <div class="step-circle">2</div>
    <div class="step-line"></div>
    <div class="step-circle">3</div>
    <div class="step-line"></div>
    <div class="step-circle">4</div>
  </div>
</div>

<p class="sottotitolo">Informazioni geografiche</p>


<div class="map-wrapper">
    
  <div id="map" map-id="7e09b66dcfaa788fb9c8f8bd"></div>
</div>


<form [formGroup]="locationForm" (ngSubmit)="onSubmit()">

  <div class="input-row">
    <div class="form-group">
      <label for="indirizzo">Indirizzo:</label>
      <input id="indirizzo" formControlName="indirizzo" />
    </div>

    <div class="form-group">
      <label for="citta">Città:</label>
      <input id="citta" formControlName="citta" />
    </div>

    <div class="form-group">
      <label for="provincia">Provincia:</label>
      <input id="provincia" formControlName="provincia" />
    </div>
  </div>

  <div class="button-row">
    <button (click)="onAnnulla()" class="btn btn-secondary"><span class="flip-arrow">&#10140;</span> Annulla</button> 
    <button type="submit" [disabled]="locationForm.invalid" class="btn btn-primary">Avanti ➜</button>
  </div>

  
</form>
