.search-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px; /* spazio ai lati su schermi piccoli */
  max-width: 1000px;   
  min-width: 1000px;  
}

.search-bar-box {
  width: 100%;
  max-width: 1000px;   
  min-width: 1000px;    
  background: #0883c7;
  border: 2px solid #222;
  display: flex;
  flex-direction: column;
  //border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}

.search-btn {
  background: #2490CA;
  color: white;
  border: none;
  padding: 15px 3px;
  height: 100%;
  cursor: pointer;
}

.search-btn:hover {
  background: #1c7ab0;
}

.search-bar-tabs {
  display: flex;
  width: 100%;
}

.tab {
  flex: 1;
  text-align: center;
  padding: 6px 0;
  color: #000000;
  background: #0883c7;
 // border-right: 1px solid #222;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
}

.tab.selected {
  text-decoration: underline;
  font-weight: bold;
  background: #74B3EF;
}

.search-bar-row {
  display: flex;
  align-items: center;
  background: #ffff;
  //border-top: 1px solid #222;
  padding: 0;
  width: 100%;
}

.search-icon {
  font-size: 1.5rem;
  color: #222;
  margin: 0 8px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  //background: #ffff;
  border-radius: 0;
}

button.selected{
    background-color: #2490CA;

}

.sorting-options{
    button{
        border-radius: 10px;
        width: clamp(94px, 20%, 25%);
        min-height: 36px;
    }
}

/* FILTRI */
.popup-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
   max-height: 90vh;  
  overflow-y: auto; 
}

.popup-content .filter-option {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
}

.popup-content .filter-option label {
  font-weight: 600;
  font-size: 0.95rem;
  color: #222;
}

.filter-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.checkbox-item input {
  width: auto;
  margin: 0;
}


/* Input e Select uniformi */
.popup-content .filter-option input,
.popup-content .filter-option select {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  background: #fff;
  outline: none;
  width: 100%;
}

.popup-content .close-popup {
  background: #ffffff;
  color: black;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  float: right;
  margin-bottom: 10px;
  transition: background 0.2s, transform 0.1s;
}

.popup-content .close-popup:hover {
  background: #d93030;
}

.popup-content .close-popup:active {
  transform: scale(0.95);
}


.price-range {
  display: flex;
  gap: 10px;
}

.price-range input {
  flex: 1;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s;

  &:focus {
    border-color: #66afe9;
    box-shadow: 0 0 3px rgba(102, 175, 233, 0.5);
  }
}

.filter-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
  
}

.filter-buttons button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #0883c7;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
}

.filter-buttons button:hover {
  background: #2490ca;
}

.ok-filter-btn{
  background-color: #2490CA;  
  color: white;
  border-radius: 5px;
  //box-shadow: 0 4px #2980b9;
  //transition: all 0.1s ease-in-out;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
  margin-left: 90%;
}