.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 24px;
  background: #0883c7;
  color: #fff;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}


.profile-menu {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 32px;
}

.login, .registrazione {
    border: 2px solid #184f6d;
    color: #fff;
    border-radius: 4px;
    padding: 6px 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
    text-decoration: none;
}

.login:hover, .registrazione:hover {
  background-color: rgba(255, 255, 255, 0.2); /* colore leggermente più chiaro */
  border-color: #0f3a5a; /* bordo leggermente più scuro */
  transition: background-color 0.3s, border-color 0.3s; /* effetto smooth */
}

.profile-username {
  font-size: 1.2rem;
  margin-right: 6px;
}

.profile-arrow {
  font-size: 1rem;
  margin-right: 6px;
}

.profile-icon {
  font-size: 1.5rem;
}

.dropdown {
  position: absolute;
  top: 48px;
  right: 0;
  background: #bcd1e2;
  color: #222;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  min-width: 220px;
  padding: 8px 12px;
  z-index: 100;
  width: 250px;
}

.dropdown-header {
  font-weight: 500;
  margin-bottom: 6px;
  border-bottom: 1px solid #222;
  padding-bottom: 2px;
}

.dropdown ul {
  list-style: disc inside;
  margin: 0;
  padding-left: 16px;
}

.dropdown-logout {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-weight: 500;
}

.logout-icon {
  font-size: 1.2rem;
  margin-left: 6px;
}

.logo .name {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
}

