<header>
    <nav class="navbar">
        <div class="home">
            <a aria-label="Home" class="logo" routerLink="/">
                <span class="name">
                    DietiEstates25
                </span>
            </a>
        </div>
        <div class="profile-menu" (click)="toggleDropdown()">
            <span class="profile-username">Profilo</span>
            <span class="profile-arrow">
                <span *ngIf="dropdownOpen">&#9650;</span>
                <span *ngIf="!dropdownOpen">&#9660;</span>
            </span>
            <span class="profile-icon">👤</span>
            <div class="dropdown" *ngIf="dropdownOpen">
                <div class="dropdown-header">Riepilogo Attività</div>
                <ul>
                    <!--devo fare i routes e mettere un route a pezzo + sistemare
                            per mostrare il login prima del profilo -->
                    <li><a [routerLink]="['./riepilogo-attivita']" fragment="Immobili">Immobili Visualizzati</a></li>

                    <li><a [routerLink]="['./riepilogo-attivita']" fragment="Offerte">Offerte Fatte</a></li>
                    <li><a [routerLink]="['./riepilogo-attivita']" fragment="Prenotazioni">Prenotazioni Effettuate</a></li>
                </ul>
                <hr>
                <div class="dropdown-logout">
                    <span>Logout</span>
                    <span class="logout-icon">&#128682;</span>
                </div>
            </div>
        </div>
    </nav>
</header>