

:host{
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
}

form{
    margin-top: 5%;
background-color: #0884c79a;
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "title title"
      "usernameLabel usernameField"
      "passwordLabel passwordField"
      "button button";
    border-radius: 20px;
    padding: 1em;
    row-gap: 1em;
    justify-items: center;
}


form input{
  border: 1px solid #aacbe8;
  border-radius: 5px;
}

h1{
    grid-area: title;
    text-align: center;
}

.label{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-right: 1em;
    font-size: 20px;
}

.field{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

input{
    width: 60%;
    height: 1.5em; 
    font-size: 1.1em;
}

.button-row {
  grid-area: button;
  display: flex;
  justify-content: flex-end;
  width: 100%; 
  padding: 20px 0px;
}

.button-row button {
  padding: 10px 40px;
  font-size: 16px;
  background-color: #2490CA;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  cursor: pointer;
  border: 3px solid #15638e;
}

.btn-primary{
  box-shadow: 0 4px #2980b9;
  transition: all 0.1s ease-in-out;
}

.btn-primary:active{
  transform: translateY(4px);
  box-shadow: 0 0 #2980b9;
}

label[for="username"]{
    grid-area: usernameLabel;
}

label[for="password"]{
    grid-area: passwordLabel;

}