<h2>Vendite Effettuate</h2>

@if (loading) {
  <div class="loader-container">
    <div class="spinner"></div>
    <p>Caricamento offerte in corso...</p>
  </div>
} @else {

@if(ImmobiliList.length === 0){
  <div class="empty-state">
      <p>Qui verranno mostrati i tuoi contratti conclusi.</p>
  </div>
}

@for(immobile of ImmobiliList; track immobile){
  @if(immobile.offerte?.length){
    
    @for(offerta of immobile.offerte; track offerta){

      <div class="offerta-card">

        <!-- INDIRIZZO -->
        <h3 class="indirizzo">
           <a [routerLink]="['/dettagli-immobile', immobile.id]">{{ immobile.indirizzo.via }}, {{ immobile.indirizzo.citta }} ({{ immobile.indirizzo.provincia }})</a>
        </h3>

        <span class="data">
          📅 {{ offerta.dataOfferta | date:'dd/MM/yyyy HH:mm' }}
        </span>

        <!-- INFO SU OFFERTA -->
        <div class="offerta-inner">

          <div class="offerta-info">
            <p><strong>Nome:</strong> {{offerta.nomeOfferente}}</p>
            <p><strong>Cognome:</strong> {{offerta.cognomeOfferente}}</p>
            <p><strong>Telefono:</strong> {{offerta.telefono}}</p>
            <p><strong>Email:</strong> {{offerta.emailOfferente}}</p>
          </div>

          <div class="offerta-body">
            <div class="offerta-box">
              @if(immobile.tipologiaContratto === 'Affitto'){
                  <p>Prezzo: €{{ offerta.cifraOfferta | number:'1.0-0' }} / mese</p>
              }
              @else{
                <p>Prezzo: €{{ offerta.cifraOfferta | number:'1.0-0' }}</p>
              }
              
            </div>
          </div>

        </div>
      </div>

    }
  }
}
}
