
.map-wrapper {
  width: 100%;
  display: flex;
  height: 400px;
  max-width: 800px;
  margin: 0 auto; // Centra la mappa
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 40px;
}

#map {
  height: 100%;
  width: 100%;
}

