:host {
  display: block;
  width: 100%;
  height: 100%;
}

.map-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;       
  padding: 0;      
  border: none;    
  max-width: none; 
}

#map {
  width: 100%;
  height: 100%;
}
