@import "../variables.scss";

:host{
    display: flex;
    align-items: center;
    flex-flow: column;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
}

form{
    margin-top: 5%;
    background-color: #0884c79a;
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;

    /* una riga per ogni coppia + una per il titolo + una per il bottone */
    grid-template-areas:
        "signup signup"
        "usernameLabel usernameField"
        "emailLabel emailField"
        "nomeLabel nomeField"
        "cognomeLabel cognomeField"
        "telefonoLabel telefonoField"
        "passwordLabel passwordField"
        "button button";

    border-radius: 20px;
    padding: 1em;
    row-gap: 1em;
    justify-items: center;
}

h1{
    grid-area: signup;
    text-align: center;
}

.label{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 1em;
    font-size: 20px;
}

.button-row {
  grid-area: button;
  display: flex;
  justify-content: flex-end;
  width: 100%; 
  padding: 20px 0px;
}

.button-row button {
  padding: 10px 40px;
  font-size: 16px;
  background-color: #2490CA;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  border: 3px solid #15638e;
}

.btn-primary{
  box-shadow: 0 4px #2980b9;
  transition: all 0.1s ease-in-out;
}

.btn-primary:active{
  transform: translateY(4px);
  box-shadow: 0 0 #2980b9;
}

label[for="username"]        { grid-area: usernameLabel; }
label[for="email"]           { grid-area: emailLabel; }
label[for="nome"]            { grid-area: nomeLabel; }
label[for="cognome"]         { grid-area: cognomeLabel; }
label[for="numeroTelefonico"]{ grid-area: telefonoLabel; }
label[for="password"]        { grid-area: passwordLabel; }

#username        { grid-area: usernameField; }
#email           { grid-area: emailField; }
#nome            { grid-area: nomeField; }
#cognome         { grid-area: cognomeField; }
#numeroTelefonico{ grid-area: telefonoField; }
#password        { grid-area: passwordField; }

.field{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}

input{
    width: 60%;
    height: 1.5em; 
    font-size: 1.1em;
}
