@if(immobileTrovato){



<div class="details-page">

  <header class="page-header">
    <h1 class="title">{{ immobile.nome }}</h1>
  </header>

  <section class="gallery-row">

    <div class="thumb left-thumb" aria-hidden="true">
      <img [src]="'http://localhost:8080/api/1.0/immobile/' + this.immobile.id + '/image/' + imageIds[((currentlyDisplayedImageIndex - 1 + this.imageIds.length) % this.imageIds.length)]" >
    </div>

    <div class="main-image">
      <img [src]="'http://localhost:8080/api/1.0/immobile/' + this.immobile.id + '/image/' + imageIds[currentlyDisplayedImageIndex]" >

      <button class="nav prev"  (click)="previousImage()"  aria-hidden="true">‹</button>
      <button class="nav next" (click)="nextImage()" aria-hidden="true">›</button>
    </div>

    <div class="thumb right-thumb" aria-hidden="true">
      <img [src]="'http://localhost:8080/api/1.0/immobile/' + this.immobile.id + '/image/' + imageIds[((currentlyDisplayedImageIndex + 1 + this.imageIds.length) % this.imageIds.length)]" >
    </div>
  </section>

  <section class="descrizione">
    <h3>Descrizione </h3>
    <p class="desc-bubble">
      {{ immobile.descrizione }}
    </p>
  </section>

  <hr class="sep">

  <section class="caratteristiche">
  <h2>Caratteristiche</h2>
  <div class="char-box">
    <div class="char-grid">
      <div *ngFor="let tag of immobile.tagDescrizione" class="char-item">
        <!-- Icona -->
        <span class="char-icon">
          {{
            tag.nome === 'aria condizionata' ? '❄️' :
            tag.nome === 'impianto d’allarme' ? '🚨' :
            tag.nome === 'numero di balconi' ? '🏢' :
            tag.nome === 'numero di terrazzi' ? '🌇' :
            tag.nome === 'giardino' ? '🌿' :
            tag.nome === 'veranda / portico' ? '🏡' :
            tag.nome === 'posto auto' ? '🅿️' :
            tag.nome === 'garage' ? '🚗' :
            tag.nome === 'vicinanza a centro storico' ? '🏛️' :
            tag.nome === 'arredata' ? '🛋️' :
            tag.nome === 'cucina a vista' ? '🍽️' :
            tag.nome === 'accesso disabili' ? '♿' :
            tag.nome === 'animali ammessi' ? '🐶' : ''
          }}
        </span>

        <!-- Titolo e valore -->
        <span class="char-title">{{ tag.nome | titlecase }}:</span>
        <span 
          [ngClass]="{
            'bool-yes': ['camino','wifi','videosorveglianza','ascensore'].includes(tag.nome) && tag.valore==='true',
            'bool-no': ['camino','wifi','videosorveglianza','ascensore'].includes(tag.nome) && tag.valore==='false'
          }"
          class="char-value"
        >
          {{
            ['camino', 'wifi', 'videosorveglianza', 'ascensore'].includes(tag.nome) ?
              (tag.valore === 'true' ? '✅' : '❌') :
            tag.type === 'Boolean' ?
              (tag.valore === 'true' ? 'Sì' : 'No') :
              tag.valore
          }}
        </span>
      </div>
    </div>
  </div>
</section>




  <hr class="sep">
@if(auth.getUserType() === 'Cliente'){
  <section class="prezzo-row">
    <h2>Informazioni sul prezzo</h2>
    <div class="price-info">
      <div class="price-left">
        <div><strong>Prezzo:</strong> {{ immobile.prezzo | number:'1.0-0'}}€</div>
       
          <strong>Prezzo al m²:</strong>{{ (immobile.prezzo / superficie) | number:'1.0-2' }}€
       

        <div class="condo"><strong>Spese Condominiali:</strong> {{ immobile.speseCondominiali | number:'1.0-0'}}€</div>
      </div>
      @if(auth.getUserType() === 'Cliente' && immobile.isVenduto === false){
        <div class="price-action">
          <button class="btn-teal" (click)="showOffer = true">💳 Proponi Prezzo</button>
        </div>
      }
      
      <!--PROVA PROVA-->
    </div>
  </section>

    <div class="popup-overlay" *ngIf="showOffer" (click)="closeOfferta()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <button class="close-popup" (click)="closeOfferta()">X</button>
    <h2>Offerta</h2>

<form [formGroup]="offertaValueForm">
    <div class="offer-option">
      <label for="value">Fai qui la tua offerta:</label>
      <div class="offer-price">
        <input id="value" formControlName="value" placeholder="Fai un'offerta...">
      </div>
    </div>
    <button class="ok-offer-btn" (click)="applyOfferta()">Invia Offerta</button>
</form>
</div>
    
  </div>


}
  <hr class="sep">

  <section class="localita">
    <h2>Località</h2>
    <div class="map-wrapper">
      <div id="map" map-id="7e09b66dcfaa788fb9c8f8bd"></div>
    </div>
    <div class="address">
      <div><strong>Città:</strong> {{ immobile.indirizzo.citta }}</div>
      <div><strong>Provincia:</strong> {{ immobile.indirizzo.provincia }}</div>
      <div><strong>Indirizzo:</strong> {{ immobile.indirizzo.via }}</div>
    </div>
  </section>

  <hr class="sep">

  <section class="contatti">
    <h4>Contatti Agente Immobiliare</h4>
    <div class="agent-line">
      <div><strong>Nome:</strong> {{immobile.agenteImmobiliare.nome + " " + immobile.agenteImmobiliare.cognome }}</div>
      <div><strong>Numero di telefono:</strong> {{immobile.agenteImmobiliare.telefono}}</div>
      <div><strong>Email:</strong> {{ immobile.agenteImmobiliare.email }}</div>
      <div><strong>Agenzia Immobiliare:</strong> {{ immobile.agenteImmobiliare.agenziaImmobiliare }}</div>
    </div>
@if(auth.getUserType() === 'Cliente' && immobile.isVenduto === false){
    <button class="btn-visit" (click)="mostraPopup = true">📅 Prenota Visita</button>
}
  </section>
</div>


@if (mostraPopup) {
  <div class="overlay">
    <div class="popup">

      @if (statoPopup === 'prenotazione') {
        <h3>Seleziona Data e Orario</h3>
        <form [formGroup]="visiteForm" (ngSubmit)="onSubmit()">
          
        <input type="datetime-local" formControlName="dataVisita" [min]="minDate" [max]="maxDate" step="3600">
          
          <select formControlName="modeVisita">
            <option value="In Presenza">In Presenza</option>
            <option value="In Videochiamata">In Videochiamata</option>
          </select>

          <div class="popup-actions">
            <button type="button" class="btn-secondary" (click)="chiudiPopup()">Annulla</button>
            <button class="btn-primary" [disabled]="visiteForm.invalid" (click)="onSubmit()">Avanti</button>
          </div>
        </form>
      
      }

      @if (statoPopup === 'riepilogo' && !loading) {
        <h3>Sicuro di voler confermare questa data e orario?</h3>
        <p><strong>Data Visita:</strong> {{ visiteForm.value.dataVisita }}</p>
        <p><strong>Modalità Visita:</strong> {{ visiteForm.value.modeVisita }}</p>

        <div class="popup-actions">
          <button class="btn-secondary" (click)="tornaIndietro()">Indietro</button>
          <button class="btn-primary" (click)="conferma()">Conferma</button>
        </div>
      }
      @if (statoPopup === 'riepilogo' && loading) {
        <div class="loader-container">
        <div class="spinner"></div>
          <h3>Conferma in corso...</h3>
          <p>Attendere prego.</p>
        </div>
      }
      @if (statoPopup === 'acknowledgment') {
        <h3>✅ Prenotazione effettuata</h3>
        <p>La prenotazione è stata effettuata correttamente.</p>
        <div class="popup-actions">
          <button class="btn-primary" (click)="chiudiPopup()">OK</button>
        </div>
      }

    </div>
  </div>
}




}