@import "../variables.scss";

:host{

    display: flex;
    align-items: center;
    flex-flow: column;
 

}

form{
    margin-top: 5%;
    background-color: $primary-color;
    width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 1em 1em 1fr;
    grid-template-areas: "signup signup" "usernameLabel usernameField" "passwordLabel passwordField" "button button";
    border-radius: 20px;
    padding: 1em;
    row-gap: 1em;
    justify-items: center;

}

h1{
    grid-area: signup;
    text-align: center;

}

#username{
    grid-area: usernameField;
    height: 1.1em;
}

#password{
    grid-area: passwordField;
    height: 1.1em;
}

button{
    grid-area: button;
    font-size: larger;
    font-weight: bold;
    width: 5em;
    height: 2em;
    padding: 0.5em;

}

label[for="username"]{
    grid-area: usernameLabel;
}

label[for="password"]{
    grid-area: passwordLabel;

}

.label{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 1em;
}

.field{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
}

input{
    width: 60%;
}
