.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #B1D3FF;
  border-right: 2px solid #3a3a3a;
}

.main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.titolo-cronologia {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border: 2px solid #3a3a3a;
  background-color: #F5F5F5;
  font-size: 1.5rem;
  font-weight: bold;
}
