<!DOCTYPE html>

<div class="title-step-row">
  <p class="titolo">Carica Immobile</p>

  <div class="step-indicator">
    <div class="step-circle">1</div>
    <div class="step-line"></div>
    <div class="step-circle">2</div>
    <div class="step-line"></div>
    <div class="step-circle">3</div>
    <div class="step-line"></div>
    <div class="step-circle">4</div>
  </div>
</div>

<p class="sottotitolo">Informazioni Immobile</p>

<form [formGroup]="ImmobileForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="NomeImmobile">Nome Immobile:</label>
      <input id="NomeImmobile" formControlName="NomeImmobile" />
    </div>

    <div class="form-group">
      <label for="Descrizione">Descrizione:</label>
      <textarea id="Descrizione" formControlName="Descrizione"></textarea>
    </div>

    <div class="line"></div>
  <h2>Informazioni Generali</h2>

   <div class="tag-container">

    <!--Campi principali-->
    <div class="tag-box">
      <label for="locali">Numero di locali</label>
      <input type="number" id="locali" formControlName="locali" placeholder="Es. 3">
    </div>

    <div class="tag-box">
      <label for="bagni">Numero di bagni</label>
      <input type="number" id="bagni" formControlName="bagni" placeholder="Es. 2">
    </div>

    <div class="tag-box">
      <label for="piano">Piano</label>
      <input type="text" id="piano" formControlName="piano" placeholder="Es. 3° piano">
    </div>

    <div class="tag-box">
      <label for="superficie">Superficie in m²</label>
      <input type="number" id="superficie" formControlName="superficie" placeholder="Es. 10.0000">
    </div>

    <div class="tag-box">
      <label for="classe">Classe energetica</label>
      <select id="classe" formControlName="classe">
        <option value="" disabled selected>Seleziona...</option>
        <option>A4</option><option>A3</option><option>A2</option><option>A1</option>
        <option>B</option><option>C</option><option>D</option>
        <option>E</option><option>F</option><option>G</option>
      </select>
    </div>
</div>

    <div class="line"></div>
    <h2 class="section-title">Tag Aggiuntivi<br></h2>

<!--TAG SELEZIONATI-->
<div class="selected-tags">
  <div class="tag-box selected" *ngFor="let tag of selectedTags">
    <label>{{ tag.nome | titlecase }}</label>

    <!--l'input viene mostrato solo nei tag selezionati -->
    <select *ngIf="tag.tipo === 'select'" (change)="handleTagSelection(tag, $event)">
      <option *ngFor="let opt of tag.opzioni">{{ opt }}</option>
    </select>

    <input *ngIf="tag.tipo === 'number'" type="number" [placeholder]="tag.placeholder" (input)="handleTagSelection(tag, $event)">
    <textarea *ngIf="tag.tipo === 'textarea'" [placeholder]="tag.placeholder" (input)="handleTagSelection(tag, $event)"></textarea>

    <button type="button" class="remove-btn" (click)="removeTag(tag)">-</button>
  </div>
</div>


<!--TAG OPZIONALI-->   <!--DA AGGIUNGERE BARRA DI RICERCA-->
<div class="optional-box">
  <!-- Search bar -->
  <input
    type="text"
    class="search-bar"
    placeholder="🔍Es 'wifi'..."
    [(ngModel)]="tagSearch"/>

  <div class="tag-container">
    <div class="tag-box" *ngFor="let tag of optionalTags">
      <label>{{ tag.nome | titlecase }}<button type="button" class="add-btn" (click)="addTag(tag)">+</button></label>
      
    </div>
  </div>
</div>

  <div class="button-row">
    <button type="button" (click)="onAnnulla()" class="btn btn-secondary"><span class="flip-arrow">&#10140;</span> Indietro</button> 
    <button type="submit" [disabled]="ImmobileForm.invalid" class="btn btn-primary">Avanti ➜</button>
  </div>

</form>
