<!DOCTYPE html>
<div class="titolo-dashboard">
    <p>Benvenuto nella Dashboard</p>
</div>

<div class="layout">
  <aside class="sidebar">
    <!-- Parte sinistra: sidebar vera e propria -->
    <app-sidebar-dashboard></app-sidebar-dashboard>
  </aside>

  <section class="main">
    <!-- Parte destra: visualizzazione attività -->
    <app-visualizzazione-dashboard></app-visualizzazione-dashboard>
  </section>
</div>

<div class="exportCSV">
  <button (click)="export.exportCSV()">Esporta CSV</button>
</div>

<!--<div class="exportPDF">
  <button (click)="export.exportPDF()">Esporta PDF</button>
</div>-->
