<h2>Prenotazioni in programma</h2>

@if (loading) {

  <div class="loader-container">
    <div class="spinner"></div>
    <p>Caricamento offerte in corso...</p>
  </div>

} @else {

@for( prenotazione of this.PrenotazioniList; track prenotazione){
    <div class="prenotazioni-card">

    <div class="prenotazioni-header">
  <div>
    
    <a class="indirizzo" [routerLink]="['/dettagli-immobile', prenotazione.immobile?.id]">{{ prenotazione.immobile?.indirizzo.via }}, {{ prenotazione.immobile?.indirizzo.citta }}, {{ prenotazione.immobile?.indirizzo.provincia }}</a>
    
    <p class="data-visita">
      📅 DATA VISITA:
      {{ prenotazione.dataOra | date:'dd/MM/yyyy HH:mm' }}
    </p>
  </div>

  <span
    class="stato"
    [ngClass]="{
      'stato-attesa': prenotazione.stato === 'RICHIESTA',
      'stato-accettata': prenotazione.stato === 'CONFERMATA',
      'stato-rifiutata': prenotazione.stato === 'RIFIUTATA'
    }"
  >
  {{ prenotazione.stato === 'RICHIESTA' ? 'In attesa di conferma' : prenotazione.stato }}

  </span>
</div>



    <div class="prenotazioni-body">

  <div class="cliente-box">
    <h4>I tuoi contatti</h4>
    <p>Email: {{ userData.email }}</p>
    <p>Telefono: {{ userData.numeroTelefonico }}</p>
  </div>

  <div class="agente-box">
    <h4>Agente immobiliare</h4>
    <p>{{ prenotazione.immobile?.agenteImmobiliare?.nome }}
       {{ prenotazione.immobile?.agenteImmobiliare?.cognome }}</p>
    <p>Email: {{ prenotazione.immobile?.agenteImmobiliare?.email }}</p>
    <p>Telefono: {{ prenotazione.immobile?.agenteImmobiliare?.numeroTelefonico }}</p>
  </div>

</div>

    <div class="prenotazioni-footer">

      <span class="modalita">
        <strong>Modalità visita: {{ prenotazione.modeVisita }}</strong>
      </span>

        <span class="data">
          Richiesta il: {{ prenotazione.creataIl| date:'dd/MM/yyyy HH:mm' }}
        </span>
    </div>

</div>
}

}

