<!DOCTYPE html>
<h2>Visualizzazione Dashboard</h2>

<div *ngIf="currentSection === 'Immobili'">
  <app-immobili-list-agente></app-immobili-list-agente>
</div>

<div *ngIf="currentSection === 'Offerte'">
  <app-offerte-ricevute></app-offerte-ricevute>
</div>

<div *ngIf="currentSection === 'Prenotazioni'">
  <app-prenotazioni-ricevute></app-prenotazioni-ricevute>
</div>


<div *ngIf="currentSection === 'Vendite'">
  <app-vendite-effettuate-agente></app-vendite-effettuate-agente>
</div>

<div *ngIf="currentSection === 'Storico'">
  <app-storico-agente></app-storico-agente>
</div>