$primary-color: rgb(243, 213, 158);
$secondary-color: rgb(243, 184, 76);

$backround-color: rgb(235, 232, 232);

$upvote-color: #649efa;
$dark-upvote-color: #17448d;

$downvote-color: #fc6f2e;
$dark-downvote-color: #970e1b