

<div class="homepage-body">
  <div class="container">
    <div class="main-content">

      @if((auth.isUserAuthenticated() && auth.getUserType() === 'Cliente') || (!auth.isUserAuthenticated()) ){
          <h2 class="search-title">Cosa cerchi oggi?</h2>
      }
      
      @else if(auth.isUserAuthenticated() && auth.getUserType() === 'AgenteImmobiliare'){
        <h2 class="search-title">Da dove iniziamo?</h2>
      }

      @else if(auth.isUserAuthenticated() && auth.getUserType() === 'AmministratoreAgenzia'){
        <h2 class="search-title">Benvenuto, Amministratore!</h2>
        <h2 class="search-title">Account appena creato? Cambia <a [routerLink]="['/adminUpdateCredentials']">qui</a> la password!</h2>
      }
      
      <app-search-bar></app-search-bar>
      
    </div>
  
    @if(auth.isUserAuthenticated() && auth.getUserType() === 'AgenteImmobiliare'){
  <div class="actions">
    <button class="btn-crea-immobile" [routerLink]="['/create-immobile']">
      Crea nuova inserzione +
    </button>
    <button class="btn-dashboard" [routerLink]="['/dashboard']">
      Vai alla Dashboard 
    </button>
  </div>
  }

   @if(auth.isUserAuthenticated() && auth.getUserType() === 'AmministratoreAgenzia'){
  <div class="actions">
    <button class="btn-crea-immobile" [routerLink]="['/crea-amministratore']">
      Crea Account per Amministratore di Supporto +
    </button>
    <button class="btn-dashboard" [routerLink]="['/crea-agente']">
      Crea Account per Agente Immobiliare +
    </button>
  </div>
  }

   @if(auth.isUserAuthenticated() && auth.getUserType() === 'AccountSupporto'){
  <div class="actions">
    <button class="btn-crea-immobile" [routerLink]="['/crea-agente']">
      Crea Account per Agente Immobiliare +
    </button>
  </div>
  }
  </div>
</div>