.homepage-body {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #F5F5F5;
  margin: 10px;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.search-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 24px;
  color: #222;
}

button.btn-crea-immobile, .btn-dashboard{
  background-color: #2490CA;
        color: white;
        padding: 10px 14px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        margin-top: 50px;
        
}