<!DOCTYPE html>

<div class="title-step-row">
  <p class="titolo">Carica Immobile</p>

  <div class="step-indicator">
    <div class="step-circle">1</div>
    <div class="step-line"></div>
    <div class="step-circle">2</div>
    <div class="step-line"></div>
    <div class="step-circle">3</div>
    <div class="step-line"></div>
    <div class="step-circle">4</div>
  </div>
</div>

<p class="sottotitolo">Foto Immobile</p>

<input type="file" id="caricaFile" multiple accept="image/*" />


<div id="imageContainer">
@for(image of images; track image){

    <app-image-thumbnail [image]="image" (imageDeleted)="deleteImage($event)"></app-image-thumbnail>

}

<button id="caricaFotoButton" type="button">Aggiungi una foto</button>

</div>


<div class="button-row">
  <button (click)="onAnnulla()"><span class="flip-arrow">&#10140;</span> Annulla</button> 
  <button (click)="onSubmit()">Avanti ➜</button>
</div>




