.titolo{
  font-size: 40px;
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin-bottom: 12px;
}

.sottotitolo{
  margin-top: 0px;
  font-size: 22px;
  text-indent: 70px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  width: 70%; 
  padding: 20px 20px;
  align-items: center;
  margin-left: 30%;
}

.button-row button {
  padding: 10px 40px;
  font-size: 16px;
  background-color: #2490CA;
  border-radius: 10px;
  color: #fff;
  border: 3px solid #15638e;
  align-items: center;
  cursor: pointer;
}

.btn-primary:active, .btn-secondary:active{
  transform: translateY(4px);
  box-shadow: 0 0 #2980b9;
}

.flip-arrow {
  display: inline-block;
  transform: rotate(180deg);
  justify-content: center;
}

.btn-primary, .btn-secondary {
  background-color: #2490CA;  
  color: white;
  border: none;
  box-shadow: 0 4px #2980b9;
  transition: all 0.1s ease-in-out;
}
.homeEmoji{
  font-size: 22px;
}