<h2>Storico Annuale</h2>

<div class="storico-layout">


<!-- Statistiche -->
<div class="statistiche-container">
  <div>
    <p>Immobili Totali</p>
    <span>{{ contrattiConclusi().totali }}</span>
  </div>
  <div>
    <p>Immobili Venduti</p>
    <span>{{ contrattiConclusi().venduti }}</span>
  </div>
  <div>
    <p>Immobili Affittati</p>
    <span>{{ contrattiConclusi().affittati }}</span>
  </div>
  <div>
    <p>Totale Offerte Ricevute</p>
    <span>{{ totaleOfferte() }}</span>
  </div>
  <div>
    <p>Totale Visualizzazioni Immobili</p>
    <span>{{ totaleVisualizzazioni() }}</span>
  </div>
</div>


<!-- Grafico -->
<div class="grafico-container">
  <canvas id="graficoStorico"></canvas>
</div>

</div>

<!-- Bottone di export -->
<div class="exportCSV">
  <button (click)="export.exportCSV()">Esporta CSV</button>
</div>
