<h2>Le tue offerte</h2>

@if (loading) {

  <div class="loader-container">
    <div class="spinner"></div>
    <p>Caricamento offerte in corso...</p>
  </div>

} @else {

  @if (OfferteList.length === 0) {
    <div class="empty-state">
      <p>Qui verranno mostrate le offerte inviate</p>
    </div>
  }

  @for (offerta of OfferteList; track offerta) {

    @if((offerta.isVenduto === false || offerta.statoOfferta === 'Accettata') && !(offerta.statoOfferta === 'ContropropostaRicevuta' && offerta.esisteOffertaAccettata) ){
        
      <div class="offerta-card">

      <div class="offerta-header">
        <h3 class="indirizzo">{{ offerta.indirizzo }}</h3>
        @if(offerta.statoOfferta != 'Accettata'){
          <button class="btn-annulla" (click)="deleteOfferta(offerta.offertaId)">- Annulla</button>
        }
      </div>

      <div class="offerta-body">
        <div class="offerta-box">
          @if(offerta.tipologiaContratto === 'Affitto'){
              Offerta: €{{ offerta.cifraOfferta | number:'1.0-0' }} / mese
          }
          @else{
            Offerta: €{{ offerta.cifraOfferta | number:'1.0-0' }}
          }
          
        </div>
      </div>

      <div class="offerta-footer">

        <span class="data">
          📅 {{ offerta.dataOfferta | date:'dd/MM/yyyy HH:mm' }}
        </span>

        <span
          class="stato"
          [ngClass]="{
            'stato-attesa': offerta.statoOfferta === 'InRevisione',
            'stato-accettata': offerta.statoOfferta === 'Accettata',
            'stato-rifiutata': offerta.statoOfferta === 'Rifiutata',
            'stato-controproposta': offerta.statoOfferta === 'ContropropostaRicevuta'
          }"
        >
          {{
            offerta.statoOfferta === 'InRevisione' ? 'In Revisione' : offerta.statoOfferta === 'ContropropostaRicevuta'
                  ? 'Controproposta ricevuta' : offerta.statoOfferta
          }}
        </span>

        @if (offerta.statoOfferta === 'Rifiutata') {
          <button
            class="btn-controproposta"
            (click)="apriPopup(offerta.offertaId, offerta.id)"
          >
            Fai una controproposta
          </button>
        }

        </div>

        @if (offerta.statoOfferta === 'ContropropostaRicevuta') {
          <div class="azioni">
            <button
              class="btn-accetta"
              (click)="acettaOfferta(offerta.offertaId)"
            >
              Accetta
            </button>

            <button
              class="btn-rifiuta"
              (click)="rifiutaOfferta(offerta.offertaId)"
            >
              Rifiuta
            </button>
          </div>
        }

      </div>
    }

  }

  @if (mostraPopup) {
      <div class="overlay">
        <div class="popup">

          @if (statoPopup === 'controproposta') {
            <h3>Inserisci la controproposta</h3>
            <input
              type="number"
              placeholder="Importo (€)"
              [(ngModel)]="controproposta"
            />
            <div class="popup-actions">
              <button
                class="btn-secondary"
                (click)="chiudiPopup()"
              >
                Annulla
              </button>
              <button
                class="btn-primary"
                [disabled]="controproposta <= 0" 
                (click)="inviaControproposta()"
              >
                Invia
              </button>
            </div>
          }

          @if (statoPopup === 'successo') {
            <h3>✅ Controproposta inviata</h3>
            <p>La controproposta è stata inviata con successo.</p>
            <div class="popup-actions">
              <button
                class="btn-primary"
                (click)="chiudiPopup()"
              >
                OK
              </button>
            </div>
          }

        </div>
      </div>
    }

}
