/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

body{
    background-color: #F5F5F5;
    height: 100%;
    margin: 0;
    padding: 0;
}

.toast-container {
  z-index: 999999 !important;
}

.toast-container .ngx-toastr {
  text-align: center !important;
  font-size: 16px !important;
  
}
.toast-center-center {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  position: fixed !important;
}

.toast-error {
  background-color: #c0392b !important;
  border-radius: 10px !important;
}

.toast-success {
  background-color: #27ae60 !important;
  border-radius: 10px !important;
}
