<!DOCTYPE html>

<div class="title-step-row">
  <p class="titolo">Carica Immobile</p>

  <div class="step-indicator">
    <div class="step-circle">1</div>
    <div class="step-line"></div>
    <div class="step-circle">2</div>
    <div class="step-line"></div>
    <div class="step-circle">3</div>
    <div class="step-line"></div>
    <div class="step-circle">4</div>
  </div>
</div>

<p class="sottotitolo">Informazioni Contrattuali</p>


<form [formGroup]="ContrattoForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="Prezzo">Prezzo:</label>
      <input id="Prezzo" formControlName="Prezzo" />
    </div>

    <div class="form-group">
      <label for="Spese Aggiuntive">Spese Aggiuntive:</label>
      <input id="Spese Aggiuntive" formControlName="SpeseAggiuntive" />
    </div>

    <div class="form-group">   
      <label for="Tipologia Contratto">Tipologia Contratto:</label>
      <select id="TipologiaContratto" formControlName="TipologiaContratto">
        <option value="affitto">Affitto</option>
        <option value="vendita">Vendita</option>
      </select>
    </div>

  <div class="button-row">
    <button (click)="onAnnulla()" class="btn btn-secondary"><span class="flip-arrow">&#10140;</span> Indietro</button> 
    <button type="submit" [disabled]="ContrattoForm.invalid" class="btn btn-primary">Avanti ➜</button>
  </div>

  
</form>

